.click-body{
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: relative;
}
.fridge-body{
    position: absolute;
    bottom: 0%;
    right: 0%;
    height: 65vh;
    width: 20vw;
    background-color: transparent;
    cursor: pointer;
}
.fridge-content{
    position: absolute;
    top: 0%;
    left: 0%;
    height: 65vh;
    width: 30vw;
    background-color: #0a284a;
    padding: 1em;
    box-sizing: border-box;
    display: none;
}
.fridge-content.show{
    display: block;
}
.fridge-info{
    height: 100%;
    width: 100%;
    background-color: #F0EAD6;
    border: 1px solid #d7b031;
    box-shadow: 3px 3px #070c20;
    display: none;
}
.fridge-info.show{
    display: grid;
}
.item-info{
    position: absolute;
    top: 0%;
    right: 0%;
    width: 25%;
    height: 20%;
    padding: 1em;
    box-sizing: border-box;
    background-color: #0a284a;
    display: none;
}
.item-info.show{
    display: block;
}
.generate-container{
    position: absolute;
    bottom: 2%;
    left: 2%;
    width: 20%;
    height: 15%;
    background-color: #ccc8a3;
    box-shadow: 3px 3px #d7b031;
    border: 1px solid #d7b031;
    font-family: 'Tiny5';
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}
.generate-container.show{
    display: flex;
}
.generate-container:hover{
    transform: translate(-3px, -3px);
    box-shadow: 6px 6px #d7b031;
    cursor: pointer;
}
.recipe-list-body{
    height: 80%;
    width: 50%;
    background-color: #ccc8a3;
    padding: 1em;
    box-sizing: border-box;
    position: absolute;
    top: 0%;
    left: 0%;
}