.fridge-info{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}
.fridge-info .grid-item:hover{
    cursor: pointer;
}
.grid-item {
    position: relative; 
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    padding: 10px;
}

.grid-item input[type="checkbox"] {
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0; 
}

.grid-item:hover input[type="checkbox"] {
    opacity: 1; 
}
.grid-item input[type="checkbox"]:checked {
    opacity: 1; 
}
.grid-item label{
    cursor: pointer;
}
.show {
    display: block;
}