.fridge-info{
    grid-template-columns: repeat(4, 1fr);
}
.fridge-info .grid-item:hover{
    cursor: pointer;
}
.grid-item {
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    box-sizing: border-box;
    flex-direction: column;
}
.grid-item input[type="checkbox"] {
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0; 
}

.grid-item:hover input[type="checkbox"] {
    opacity: 1; 
}
.grid-item input[type="checkbox"]:checked {
    opacity: 1; 
}
.grid-item label{
    cursor: pointer;
    height: 5vw;
    width: 5vw;
}
.show {
    display: block;
}
.food-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}